
<drag-scroll [scrollbar-hidden]="true" style="height: 462px;width:585px;pointer-events: auto;position: relative;background-color: #000;">
    <div style="position: relative;" [ngStyle]="{'height': mainImageHeight, 'width': mainImageWidth}">
        <img
        #img 
        class="img"
        [src]="ImgUrl"
        (load)="ImageLoaded()"
        [ngStyle]="{'height': mainImageHeight, 'width': mainImageWidth}"
        />  
        <canvas
        #Canvas
        width="585" height="462"
        [ngStyle]="{'height': canvasheight +'px', 'width': canvaswidth +'px', 'cursor':cursorType}"
        (mousedown)="Grabbing()"
        (mouseup)="Grab()"
        style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"
        >

        </canvas>
        <canvas
        #CanvasSingle
        width="585" height="462"
        [ngStyle]="{'height': canvasheight +'px', 'width': canvaswidth +'px', 'cursor':cursorType}"
        (mousedown)="Grabbing()"
        (mouseup)="Grab()"
        style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"
        >

        </canvas>
    </div>
</drag-scroll>



