#other {
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 140px;
    height: 110px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}