.container-profit{
    // width: 268px;
    height: 37px;
    background: #E8F7FF;
    box-shadow: -6px 0px 10px #E8E8E8;
    h4{
        font-family: 'Open Sans' sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #111D35;
        margin: 0;
    }
}