<drag-scroll [scrollbar-hidden]="true" style="height: 462px;width:585px;pointer-events: auto;position: relative;">    
    <div id="imageWrapper" style="position: relative;background-color: black;" [ngStyle]="{'height': mainImageHeight, 'width': mainImageWidth}">
        <img
        #img 
        class="img"
        [src]="ImgUrl"
        (load)="ImageLoaded()"
        width="585" height="462"
        [ngStyle]="{'height': mainImageHeight, 'width': mainImageWidth, 'cursor':cursorType}"
        (mousedown)="Grabbing()"
        (mouseup)="Grab()"
        /> 
    </div> 
</drag-scroll>