<div class="container-fluid px-5 py-3" style="background-color: rgb(3, 27, 64);">
    <img style="cursor: pointer;" [routerLink]="['']" class="logo" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
</div>
<div class="terms-container">
    <p>
        <strong style="color: #011b3e;font-size: 20px;">Refund Policy</strong><br>
        Our services are based on a business model where products are served on a network platform and the customer is charged based on their subscription or consumption. Given the nature of our services, we do not offer a refund or credit on subscription. 
        <br><br>
        We will assess your refund request based on factors keeping in mind the digital nature of our services and products. There is no obligation to provide a return or credit under the following situations: 
        <br><br>
        <span>
            <ul>
                <li>
                    You have changed your mind about a particular service or product
                </li>
                <li>
                    Service was subscribed by mistake 
                </li>
                <li>
                    Lack of expertise to make the best use of service or product
                </li>
            </ul> 
        </span>

        In order to file a refund request, you can contact us at support@hypercap.ai
        within 7 days from the date of subscribing to get your refund processed. Based on the usage of services the refund amount will be processed and disbursed within 7 working days. The mode and currency of the refund will be the same as the original mode of payment.  
    </p>
</div>
<!-- footer -->
<footer class="footer">
    <a class="terms" [routerLink]="['/terms-of-service']" target="_blank" >Terms of service</a>
    <span style="margin: 0 5px; color: #FFF;" >&#124;</span>
    <a class="terms" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/transactional-currency']" target="_blank">Transactional Currency</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/shipping-policy']" target="_blank">Shipping Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/cancellation-policy']" target="_blank">Cancellation Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/return-policy']" target="_blank">Return Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/refund-policy']" target="_blank">Refund Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/jurisdiction-clause.php" target="_blank">Regulation Laws and Jurisdiction</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/about.php" target="_blank">About Us</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/contact.php" target="_blank">Contact Us</a>
</footer>