.grid-container{
    display: grid;
    grid-template-columns: 44% 16% 28% auto;
    justify-items: center;
    width: 766px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px #00000029;
    align-items: center;
    padding: 0;
    margin: 0;
}