<div class="container-fluid px-5 py-3" style="background-color: rgb(3, 27, 64);">
    <img style="cursor: pointer;" [routerLink]="['']" class="logo" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
</div>
<div class="terms-container">
    <p>
        <strong style="color: #011b3e;font-size: 20px;">Return Policy</strong><br>
        We offer services and solutions via software delivery that allow data to be accessed from any device with an active internet connection. AI For You offers a detailed demonstration of the services offered to provide clarity to customers. Therefore, it is assumed that the buyer has understood and reviewed the product thoroughly before purchasing. 
        <br>
        <br>
        The nature of our services is completely digital and does not involve any physical products, goods, or entities. Considering the nature and area of operation of our services there is no element of return involved. Nevertheless, we will review and process return/refund requests on defective software if any. 
        <br>
        <br>
        In case of any queries, you can contact us at  support@hypercap.ai      
    </p>
</div>
<!-- footer -->
<footer class="footer">
    <a class="terms" [routerLink]="['/terms-of-service']" target="_blank" >Terms of service</a>
    <span style="margin: 0 5px; color: #FFF;" >&#124;</span>
    <a class="terms" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/transactional-currency']" target="_blank">Transactional Currency</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/shipping-policy']" target="_blank">Shipping Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/cancellation-policy']" target="_blank">Cancellation Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/return-policy']" target="_blank">Return Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/refund-policy']" target="_blank">Refund Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/jurisdiction-clause.php" target="_blank">Regulation Laws and Jurisdiction</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/about.php" target="_blank">About Us</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/contact.php" target="_blank">Contact Us</a>
</footer>