<div #alertDanger class="alert" role="alert">
    {{ responseError }}
</div>
<div class="sign-up-main">
    <div class="form-part">
        <div style="margin: 0 0 20px 0;">
            <img style="cursor: pointer;" [routerLink]="['']" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="Ai For You">
        </div>
        <div>
            <h2 style="font-size: 31px;font-weight: 700;margin: 0 0 7px 0;">Sign up</h2>
            <small style="font-size: 11px;">Please enter your details to create and account</small>
        </div>
        <div style="margin: 18px 0 0 0;">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input
                     placeholder="Full Name"
                     type="text" 
                     class="form-control"
                     name="fullName"
                     formControlName="fullName"
                     [ngClass]="submitted && signUpForm!.invalid ?'is-invalid': ''"
                     required
                     >
                    <div *ngIf="fullName!.invalid && submitted" class="invalid-feedback">
                        <small *ngIf="fullName!.errors!.required">Please Enter Full Name</small>
                    </div>
                </div>
                <div class="form-group">
                    <input 
                     placeholder="E-mail" 
                     type="text" 
                     class="form-control"
                     name="email"
                     formControlName="email"
                     [ngClass]="submitted && signUpForm!.invalid ?'is-invalid': ''"
                     >
                    <div *ngIf="email!.invalid && submitted" class="invalid-feedback">
                        <small *ngIf="email!.errors!.required">Please Enter Email</small>
                        <small *ngIf="email!.errors!.email">Please Enter A Valid Email</small>
                    </div>
                </div>
                <div class="form-group pass-group">
                    <img class="eye" (click)="TogglePasswordView()" src="../../../../assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                    <input 
                     placeholder="Password" 
                     [type]="viewPassword ? 'text' : 'password'"
                     class="form-control"
                     name="password"
                     formControlName="password"
                     [ngClass]="submitted && signUpForm!.invalid ?'is-invalid': ''"
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                    >
                    <div *ngIf="password!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
                        <small *ngIf="password!.errors!.required">Please Enter Password</small>
                        <small *ngIf="password!.errors!.minlength">Password should be greater than 6 characters</small>
                        <small *ngIf="password!.errors?.pattern">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number</small>
                    </div>
                </div>
                <div class="form-group pass-group">
                    <img class="eye" (click)="ToggleConfirmPasswordView()" src="../../../../assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                    <input 
                     placeholder="Confirm Password" 
                     [type]="viewConfirmPassword ? 'text' : 'password'"
                     class="form-control"
                     name="confirmPassword"
                     formControlName="confirmPassword"
                     [ngClass]="submitted && signUpForm!.invalid ?'is-invalid': ''"
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                    >
                    <div *ngIf="confirmPassword!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
                        <small *ngIf="confirmPassword!.errors!.required">Please Enter Password</small>
                        <small *ngIf="confirmPassword!.errors!.minlength">Password should be greater than 6 characters</small>
                        <small *ngIf="confirmPassword!.errors?.pattern">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number</small>
                    </div>
                </div>
                <div class="form-row justify-content-center" style="margin: 10px 0;">
                    <button type="submit" class="btn btn-primary sign-up animate-btn-background">Sign Up</button>
                </div>
            </form>
        </div>
        <small>Already have an Account ?</small>
        <div style="margin: 10px 0 0 0;">
            <button
             [routerLink]="['/user']" 
             class="btn btn-primary login animate-btn-background"
             >Login</button>
        </div>
        <div *ngIf="sending" style="position: fixed;top: 10px;"  class="d-flex align-items-center mt-3">
            <div class="mr-2 spinner-border" role="status">
                <span></span>
            </div>
            <strong>Sending Verification Email</strong>
        </div>
    </div>
    <div class="image-part" >

    </div>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="modal fade show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div>
            <button type="button" class="close mt-2 mr-2" aria-label="Close" (click)="ToogleShowModal()">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body text-center" style="padding:0;">
            <span style="font-weight: 700;font-size: 15px;">A verification mail has been sent to your email address.</span><br>
            <span style="font-weight: 700;font-size: 15px;">Please check and verify.</span>
          </div>
          <div class="text-center" style="margin: 0 0 17px 0;">
              <span
               (click)="resend()"
               class="animate-bottom-border"
               style="margin-right: 25px;cursor: pointer;"
               >Resend
              </span>
              <button
               style="color: black;font-weight: 700;font-size: 12px;padding: 8px 40px;background-color: #3bcbff;margin-left: 25px;"
               type="button" 
               class="btn animate-btn-background " 
               [routerLink]="['/user']"  
               (click)="ToogleShowModal()"
               >Done</button>
          </div>
      </div>
    </div>
  </div>
  