<div class="container-fluid">
    <div class="grid-container">
        <span style="justify-self: self-start;margin: 0 0 0 24px;">Features</span>
        <span>Amount</span>
        <span>Date</span>
        <span>Time</span>
    </div>
    <div style="overflow-y: auto;height: 360px;">
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
        <div style="margin: 10px 5px;">
            <modal-cards></modal-cards>
        </div>
    </div>
</div>