<div #alertDanger class="alert alert-danger" role="alert">
    {{ responseError }}
</div>
<div class="new-password-main">
    <div class="form-part">
        <div class="pb-5">
            <img style="cursor: pointer;" [routerLink]="['']" width="80px" height="65px" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
        </div>
        <div>
            <h4>Enter the New Password</h4>
        </div>
        <div>
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="form-group pass-group mt-2">
                    <img style="cursor: pointer;" (click)="TogglePasswordView()" src="../../../../assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                    <input 
                     placeholder="Password" 
                     [type]="viewPassword ? 'text' : 'password'" 
                     class="form-control"
                     name="password"
                     formControlName="password"
                     [ngClass]="submitted && passwordForm!.invalid ?'is-invalid': ''"
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                     >
                     <div *ngIf="password!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
                        <small *ngIf="password!.errors!.required">Please Enter Password</small>
                        <small *ngIf="password!.errors!.minlength">Password should be greater than 6 characters</small>
                        <small *ngIf="password!.errors?.pattern">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number</small>
                    </div>
                </div>
                <div class="form-group pass-group mt-2">
                    <img style="cursor: pointer;" (click)="ToggleConfirmPasswordView()" src="../../../../assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                    <input 
                     placeholder="Confirm Password" 
                     [type]="viewConfirmPassword ? 'text' : 'password'"
                     class="form-control"
                     name="confirmPassword"
                     formControlName="confirmPassword"
                     [ngClass]="submitted && passwordForm!.invalid ?'is-invalid': ''"
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                    >
                    <div *ngIf="confirmPassword!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
                        <small *ngIf="confirmPassword!.errors!.required">Please Enter Password</small>
                        <small *ngIf="confirmPassword!.errors!.minlength">Password should be greater than 6 characters</small>
                        <small *ngIf="confirmPassword!.errors?.pattern">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number</small>
                    </div>
                </div>
                <div style="margin: 20px 0 0 0;">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
    <div class="image-part" >

    </div>
</div>
