.storage-card{
    min-width: 989px;
    min-height: 83px;
    background-color: #FFF;
    box-shadow: 0px 0px 6px #00000029;
    display: grid;
    grid-template-columns: 17% 17% auto;
    align-items: center;
    margin: 0 0 15px 0;
    padding: 0 15px;
    flex-basis: 100%;
    justify-items: center;
}

.storage-modal{
    position: fixed;
    background-color: rgba(0,0,0,0.65);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    .content{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 351px;
        height: 433px;
        background: #F8F8F8;
        border-radius: 10px;
        transform: translate(-50%, -50%);
    }
}
.delete-modal{
    position: fixed;
    width: 460px;
    height: 150px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.4);
    h4{
        font-size: 22px;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
    }

    span{
        font-size: 14px;
        font-weight: 600;
        color: #111D35;
        font-family: 'Source Sans Pro', sans-serif;
        position: relative;
        cursor: pointer;
        &:hover{
            color: #3BCBFF;
        }
    }
    .btn-primary-Enable{
        width: 87px;
        height: 36px;
        border: 1px solid #3BCBFF;
        border-radius: 4px;
        font-size: 14px;
        color: #111D35;
        font-weight: 600;
        &:hover{
            box-shadow: 0px 3px 6px #0000003B;
            background: #3BCBFF 0% 0% no-repeat padding-box;
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    }
    .btn-primary-discard{
        width: 87px;
        height: 36px;
        background: #3BCBFF 0% 0% no-repeat padding-box;
        border: 1px solid #3BCBFF;
        border-radius: 4px;
        font-size: 14px;
        color: #111D35;
        font-weight: 600;
        margin: 0 0 0 12px;
        &:hover{
            box-shadow: 0px 3px 6px #00000030;
            background-color: transparent;
        }
    }
    .btn:focus{
        outline: none;
        box-shadow: none;
    }
}