<div class="container-fluid px-5 py-3" style="background-color: rgb(3, 27, 64);">
    <img style="cursor: pointer;" [routerLink]="['']" routerLinkActive="router-link-active"  class="logo" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
</div>
<div class="terms-container">
    <p>
        <strong style="color: #011b3e;font-size: 20px;">Transactional Currency</strong><br>
        Regardless of our location, all payments required for subscribing our services shall be made in United States Dollar (USD) irrespective of the countries in which sale(s) are made. Whenever for the purpose of calculating any sums outstanding during the subscription of our services conversion from South African Rand (ZAR) shall be made to USD. 
        <br>
        <br>
        The local currency shall be converted into USD based on the rate of exchange published by Wall Street Journal, U.S on the date of subscribing or on the last working day to which such payment pertains. The USD equivalent of the local currency will be the payable amount for the buyer. 
    </p>
</div>
<!-- footer -->
<footer class="footer">
    <a class="terms" [routerLink]="['/terms-of-service']" target="_blank" >Terms of service</a>
    <span style="margin: 0 5px; color: #FFF;" >&#124;</span>
    <a class="terms" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/transactional-currency']" target="_blank">Transactional Currency</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/shipping-policy']" target="_blank">Shipping Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/cancellation-policy']" target="_blank">Cancellation Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/return-policy']" target="_blank">Return Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/refund-policy']" target="_blank">Refund Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/jurisdiction-clause.php" target="_blank">Regulation Laws and Jurisdiction</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/about.php" target="_blank">About Us</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/contact.php" target="_blank">Contact Us</a>
</footer>