.container-google{
    // width: 268px;
    height: 37px;
    background: #FFF2F2;
    box-shadow: -6px 0px 10px #E8E8E8;
    h4{
        font-family: 'Open Sans' sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #FF2727;
        margin: 0;
    }
}