<div class="sign-up-main">
    <div class="form-part">
        <div>
            <img style="cursor: pointer;" [routerLink]="['']" width="80px" height="65px" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
        </div>
        <div style="margin: 47px 0 0 0;">
            <img src="/assets/icons/Icon ionic-ios-happy.svg" alt="happy">
        </div>
        <div>
            <h4 style="font-size: 20px;font-weight: 600;margin: 19px 0 0 0;">Congratulations !</h4>
            <h6 style="font-size: 15px;font-weight: 300;margin: 1px 0 0 0;">Successfully you have changed your password.</h6>
        </div>
        <div>
            <div style="margin: 19px 0 0 0;">
                <button [routerLink]="['/user']" routerLinkActive="router-link-active"  class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
    <div class="image-part" >

    </div>
</div>
