<div class="container-fluid px-5 py-3" style="background-color: rgb(3, 27, 64);">
    <img style="cursor: pointer;" [routerLink]="['']" routerLinkActive="router-link-active"  class="logo" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
</div>
<div class="terms-container">
    <p>
        <strong style="color: #011b3e;font-size: 20px;">Shipping/Delivery Policy</strong><br>
        We provide service in the form of SaaS models across the globe as it involves no physical products, goods, or entities. The services offered are software-based solutions hence there is no element of shipping or delivery involved. 
        <br>
        <br>
        Please feel free to contact us for AI-based SaaS solutions before placing your orders to discuss your needs. All the services and products are delivered as per the user requirement. We try to ensure 100% customer satisfaction whilst providing services, if anything remains left as per your requirement you can write back to us at support@hypercap.ai within 7 working days from the date of getting the subscription. 
        <br>
        <br>
        The cost of availing services will depend on the individual user requirements and consumption. The expense breakup will be mentioned in the invoice for your reference (Extricator)./Users can recharge by adding credits to their wallet as per the requirement. (AI for you)  If your order is urgent it is strongly recommended that you discuss your needs with us before placing an order to avoid inconvenience. 
        <br>
        <br>
        We strive to provide the best in class service and timely delivery of our services offered in the form of AI-based software. The software download email will contain all details and instructions on how to run and use the tool. 

    </p>
</div>
<!-- footer -->
<footer class="footer">
    <a class="terms" [routerLink]="['/terms-of-service']" target="_blank" >Terms of service</a>
    <span style="margin: 0 5px; color: #FFF;" >&#124;</span>
    <a class="terms" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/transactional-currency']" target="_blank">Transactional Currency</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/shipping-policy']" target="_blank">Shipping Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/cancellation-policy']" target="_blank">Cancellation Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/return-policy']" target="_blank">Return Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/refund-policy']" target="_blank">Refund Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/jurisdiction-clause.php" target="_blank">Regulation Laws and Jurisdiction</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/about.php" target="_blank">About Us</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/contact.php" target="_blank">Contact Us</a>
</footer>