<h3 *ngIf="!contentPresent" style="text-align: center;font-size: 22px;margin: 20px 0;">There is no content to display</h3>

<div *ngIf="contentPresent" style="height: calc(100vh - 30rem); overflow-y: auto; width: 865px; padding: 0 0 0 24px; margin: 11px 0 20px 0; overflow-x: hidden; scrollbar-width: thin; scrollbar-color: #3BCBFF transparent;display: block;min-height: 280px;">
    <face-card [Data]= "smilingDataUnique">
        <h4 style="text-align:center;margin: 0;color: #0D76FF;font-size: 15px;font-weight: 600;font-family: 'Open Sans', sans-serif;">Smiling</h4>
    </face-card>
    <face-card [Data]= "glassesUnique">
        <h4 style="text-align:center;margin: 0;color: #0D76FF;font-size: 15px;font-weight: 600;font-family: 'Open Sans', sans-serif;">Glasses</h4>
    </face-card>
    <face-card [Data]= "headwearUnique">
        <h4 style="text-align:center;margin: 0;color: #0D76FF;font-size: 15px;font-weight: 600;font-family: 'Open Sans', sans-serif;">Headwear</h4>
    </face-card>
    <face-card [Data]= "mouth_openUnique">
        <h4 style="text-align:center;margin: 0;color: #0D76FF;font-size: 15px;font-weight: 600;font-family: 'Open Sans', sans-serif;">Mouth open</h4>
    </face-card>
    <face-card [Data]= "looking_at_cameraUnique">
        <h4 style="text-align:center;margin: 0;color: #0D76FF;font-size: 15px;font-weight: 600;font-family: 'Open Sans', sans-serif;">Looking at camera</h4>
    </face-card>
    <face-card [Data]= "eyes_visibleUnique">
        <h4 style="text-align:center;margin: 0;color: #0D76FF;font-size: 15px;font-weight: 600;font-family: 'Open Sans', sans-serif;">Eyes visible</h4>
    </face-card>
</div>
