<div *ngIf="showSpinner" class="text-center mt-2">
    <button class="btn btn-primary" style="background-color: #3BCBFF;border: none;color: #111D35;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading Images...
    </button>
</div>
<ng-container *ngIf="!showSpinner">
    <div *ngFor="let data of images; let i = index;" class="container-fluid pt-4 pb-3" style="margin: 0; ">
        <app-title>
            <div style="font-size: 16px;font-family: 'Open Sans', sans-serif;font-weight: 600;color:#8B8AA8;">{{data.date}}</div>
            <small style="font-size: 14px;font-family: 'Open Sans', sans-serif;font-weight: 600;color:#77769E;">Total {{data.count}} images</small>
        </app-title>
        <image-card-list
         [imageInfo]="data.images"
         [showmore]="!data.showmore"
         (Images_selected)="ToggleDeleteImages()"
         ></image-card-list>
         <div class="show-more">
            <button (click)="toggleShow(i)" *ngIf="data.showmore">Load More</button>
            <button (click)="toggleShow(i)" *ngIf="data.showless">Load Less</button>    
        </div>
    </div>
</ng-container>

<!-- sample images -->
<div class="container-fluid pt-4 pb-3" style="margin: 0;">
    <div style="font-size: 12px;font-weight: 600; font-family: 'Source Sans Pro', sans-serif;position: relative;" class="d-flex align-items-center pb-2 container-fluid">
        <div style="max-width: 118px; background-color: #FFF; position: absolute; z-index: 1;left: 50%;transform: translateX(-50%);">
            <div style="font-size: 24px;font-family: 'Open Sans', sans-serif;font-weight: 600;color:#444;">Samples</div>
        </div>
        <div style="border-bottom: 1px solid gainsboro;width: 100%;height: 2px; position: absolute;left: 0;">
            
        </div>
    </div>
    <div class="grid-container">
        <div *ngFor="let image of SampleImages">
            <image-card [sample]="true" [imageData]="image">
            </image-card>
        </div>
    </div>
</div>