<div style="font-size: 12px;font-weight: 600; font-family: 'Source Sans Pro', sans-serif;" class="d-flex align-items-center pb-2">
    <div #sampleDiv style="max-width: 118px;background-color: #FFF;position: absolute;z-index: 1;">
        <ng-content select="div"></ng-content>
    </div>
    <div #sampleDiv style="max-width: 118px;background-color: #FFF;position: absolute;z-index: 1;left: 170px;">
        <ng-content select="small"></ng-content>
    </div>
    <div style="border-bottom: 1px solid gainsboro;width: 100%;height: 2px; position: absolute;">
        
    </div>
</div>