.form-control{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    font-size: 15px;
    font-weight: 600!important;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F0F0F7;
    height: 30px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    
}
::placeholder{
    columns: #BFBFBF!important;
    font-size: 14px!important;
    font-weight: 400!important;
}

.pass-group{
    position: relative;
    height: 30px;
    img{
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        height: 11px;
        width: 11px;
        z-index: 1;
    }
    div{
        width: 300px;
    }
}

.alert{
    position: fixed;
    background-color: #3BCBFF;
    padding: 10px;
    margin: 0;
    top: 10px;
    left: 10px;
    max-width: 500px;
    transform: translateX(-600px);
    transition: 1s ease-in-out;
    font-size: 15px;
    font-weight: 400;
    color: #111D35;
    z-index: 1600;
    word-break: break-word;
    &.show{
        transform: translateX(0px);
    }
}