<div [ngClass]="{'show': show}" class="alert">
    {{ message }}
</div>
<div style="padding: 0 0 0 20px;">
    <h3 style="color:#838383; font-size: 19px;font-weight: 600;font-family: 'Source Sans Pro';">Password</h3>
<div class="container-fluid" style="padding: 0;">
    <form [formGroup]="userPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-3 pass-group">
                <img class="eye" (click)="ToggleShowOld()" src="/assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                <input
                 [type]="viewPassword ? 'text' : 'password'" 
                 class="form-control"
                 name="oldpassword"
                 formControlName="oldpassword"
                 placeholder="Old Password"
                 autocomplete="false"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                 (input)="CheckEditDetails()"
                 [ngClass]="oldpassword!.invalid && submitted ?'is-invalid': ''"
                 required
                 >
                 <div *ngIf="oldpassword!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: flex-start;flex-direction: column;justify-content: center;">
                    <small *ngIf="oldpassword!.errors!.required">Please Enter Password</small>
                    <small *ngIf="oldpassword!.errors?.pattern || oldpassword!.errors!.minlength">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number with minimum 6 characters</small>
                </div>
            </div>
            <div class="col-3 pass-group" style="margin: 0 0 0 20px;">
                <img class="eye" (click)="ToggleShowNew()" src="/assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                <input
                 [type]="viewPasswordNew ? 'text' : 'password'" 
                 class="form-control"
                 name="newpassword"
                 formControlName="newpassword"
                 placeholder="New Password"
                 autocomplete="false"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                 (input)="MatchPasswords()"
                 [ngClass]="newpassword!.invalid && submitted ?'is-invalid': ''"
                 required
                 >
                 <div *ngIf="newpassword!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: flex-start;flex-direction: column;justify-content: center;">
                    <small *ngIf="newpassword!.errors!.required">Please Enter Password</small><small *ngIf="newpassword!.errors!.minlength">Password should be greater than 6 characters</small>
                    <small *ngIf="newpassword!.errors?.pattern || newpassword!.errors!.minlength">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number with minimum 6 characters</small>
                </div>
            </div>
        </div>
        <div class="form-row" style="margin: 3rem 0 0 0 !important;">
            <div class="col-3 pass-group">
                <img class="eye" (click)="ToggleShowNewC()" src="/assets/icons/Icon ionic-ios-eye.svg" alt="eye">
                <input
                 [type]="viewPasswordNewC ? 'text' : 'password'" 
                 class="form-control"
                 name="confirmpassword"
                 formControlName="confirmpassword"
                 placeholder="Confirm Password"
                 autocomplete="false"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()]).{6,}"
                 (input)="MatchPasswords()"
                 [ngClass]="confirmpassword!.invalid && submitted ?'is-invalid': ''"
                 required
                 >
                 <div *ngIf="confirmpassword!.invalid && submitted" class="invalid-feedback" style="display: flex;align-items: flex-start;flex-direction: column;justify-content: center;">
                    <small *ngIf="confirmpassword!.errors!.required && !passwordNotMatch">Please Enter Password</small>
                    <small *ngIf="confirmpassword!.errors?.pattern || confirmpassword!.errors!.minlength">Password should have atleast one Capital letter, Alpha-numeric digit, and a Number with minimum 6 characters</small>
                    <small *ngIf="passwordNotMatch">Passwords do not match</small>
                </div>
            </div>
        </div>
    </form>
</div>
</div>