<div class="container-fluid px-5 py-3" style="background-color: rgb(3, 27, 64);">
    <img style="cursor: pointer;" [routerLink]="['']"  class="logo" width="80px" height="65px" src="/assets/images/AI-For-You.png" alt="logo">
</div>
<div class="terms-container">
    <p>
        <strong style="color: #011b3e;font-size: 20px;">Cancellation Policy</strong>
        <br>
        All the services offered by AI For You are developed through a stringent process of analysis and monitoring to ensure optimum understanding of the applications and utilization at the customer’s end. The tools go through several quality checks to guarantee error-free solutions and eliminate possibilities of cancellation, return, dispute or reversal.
        <br>
        <br>
        We deal in SaaS-based solutions that are designed and developed to provide comprehensive resolutions to reduce human effort and improve the efficiency and effectiveness of business processes. The services offered are software-based solutions, hence, the criteria for canceling subscribed services is restricted. This is mainly because once the service is sold there is no way of retrieving it back from the customer. 
        <br>
        <br>
        Our cancellation policy is as follows:    
        <br>
        <br>
        <span>
            <ul>
                <li>To cancel your subscription you can write back to us at support@hypercap.ai within 7 days from the date of subscribing.</li>
                <li>Based on the usage of services, and date of subscribing, the cancellation is subject to zero or partial penalty.</li>
            </ul>
        </span> 
        <br>
        <br>
        Please read our cancellation and return policy before making a payment. In case of any queries feel free to write back to us at support@hypercap.ai. 
    </p>
</div>

<!-- footer -->
<footer class="footer">
    <a class="terms" [routerLink]="['/terms-of-service']" target="_blank" >Terms of service</a>
    <span style="margin: 0 5px; color: #FFF;" >&#124;</span>
    <a class="terms" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/transactional-currency']" target="_blank">Transactional Currency</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/shipping-policy']" target="_blank">Shipping Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/cancellation-policy']" target="_blank">Cancellation Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/return-policy']" target="_blank">Return Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/refund-policy']" target="_blank">Refund Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/jurisdiction-clause.php" target="_blank">Regulation Laws and Jurisdiction</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/about.php" target="_blank">About Us</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/contact.php" target="_blank">Contact Us</a>
</footer>