$font-stack:    'Source Sans Pro', sans-serif;
$primary-color: #111D35;
$text-color : #ffffff;
$input-color : #26386F;
$placeholder-color : #5B6B9D;
$bg-image: url('/assets/images/Group\ 34.jpg');
.forgot-password-main{
    font-family: $font-stack;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    .form-part {
        min-height: 100%;
        width: 50%;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-weight: 700;
            margin: 0;
        }
        .form-control{
            background:none;
            border: none;
            background-image: none;
            width: 344px;
            height: 42px;
            color: $text-color;
            margin: 0 0 13px 0;
            border: 1px solid $input-color;
            &::placeholder{
                color: #FFF!important;
                font-size: 11px;
            }
            &:focus{
                box-shadow: 0px 0px 6px #006EFF61;
                border: 1px solid #5E70A8;
            }
            &:hover {
                box-shadow: 0px 0px 6px #006EFF61;
                border: 1px solid #5E70A8;
            }
        }
        .btn-primary {
            color: $primary-color;
            width: 200px;
            height: 36px;
            background: #3BCBFF 0% 0% no-repeat padding-box;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 44px 0;
            &:hover {
                box-shadow: 0px 3px 6px #00000030;
            }
        }
        .animate-bottom-border{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #FFF;
                left: 0;
                bottom: 0;
                transform: scale(0);
                transition: transform 250ms ease-in-out;
            }

            &:hover::after{
                transform: scale(1);
            }
        }

        .animate-btn-background{
            border: 1px solid #3BCBFF;
            &:hover{
                background-color: transparent!important;
                color: #FFF!important;
                box-shadow: 0px 3px 6px #00000030;
            }
        }
    }
    .image-part {
        min-height: 100%;
        width: 50%;
        background-image: $bg-image;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

:focus {
    outline: none;
    box-shadow: none;
}

:active:focus {
    outline: none!important;
    box-shadow: none!important;
}
