<router-outlet *ngIf="showlogin"></router-outlet>
<!-- footer -->
<footer class="footer">
    <a class="terms" [routerLink]="['/terms-of-service']" target="_blank" >Terms of service</a>
    <span style="margin: 0 5px; color: #FFF;" >&#124;</span>
    <a class="terms" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/transactional-currency']" target="_blank">Transactional Currency</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/shipping-policy']" target="_blank">Shipping Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/cancellation-policy']" target="_blank">Cancellation Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/return-policy']" target="_blank">Return Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" [routerLink]="['/refund-policy']" target="_blank">Refund Policy</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/jurisdiction-clause.php" target="_blank">Regulation Laws and Jurisdiction</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/about.php" target="_blank">About Us</a>
    <span style="margin: 0 5px;color: #FFF;">&#124;</span>
    <a class="terms" href="https://www.innovsoltech.com/contact.php" target="_blank">Contact Us</a>
</footer>